@{
    ViewData["Title"] = "Bem Vindo";
}

<div class="text-center">
    <h1 class="display-5">Bem vindo a loja SportsECommerce</h1>
    <p></p>
    <h4>Confira nosso <a asp-area="" asp-controller="Produto" asp-action="Index">Catálogo</a>.</h4>
</div>
